<section id="about" class="clip-left flex flex-center">
    <div class="container">
        <div class="row">
            <h2 class="section-title"><%= translations.about.title %></h2>
        </div>
        <div class="row">
            <div class="col-lg-5 flex flex-column flex-center">
                <p class="about-text">
                    <%= translations.about.greeting %>
                    <br>
                    <br>
                    <%= translations.about.experience %>
                    <br>
                    <br>
                    <%= translations.about.motivation %>
                    <br>
                    <br>
                    <%= translations.about.callToAction %>
                </p>
                <button onclick="scrollToElement('personal-training')" class="btn btn-primary text-black mt-4"><%= translations.about.button %></button>
            </div>
            <div class="col-lg-7"></div>
        </div>
    </div>
</section>
