<section id="faq" class="clip-left">
    <div class="container">
        <div class="row mb-5">
            <h2 class="section-title"><%= translations.faq.title %></h2>
        </div>
        <div class="row">
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question1.title %></h5>
                <p><%= translations.faq.question1.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question2.title %></h5>
                <p><%= translations.faq.question2.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question3.title %></h5>
                <p><%= translations.faq.question3.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question4.title %></h5>
                <p><%= translations.faq.question4.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question5.title %></h5>
                <p><%= translations.faq.question5.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question6.title %></h5>
                <p><%= translations.faq.question6.answer %></p>
            </div>
            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question7.title %></h5>
                <p><%= translations.faq.question7.answer %></p>
            </div>

            <div class="faq-question col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <h5><%= translations.faq.question8.title %></h5>
                <p><%= translations.faq.question8.answer %></p>
            </div>

        </div>
    </div>
</section>

