<footer id="footer">
    <div class="container d-flex align-items-center justify-content-center position-relative">
        <img src="img/pictures/minust.png" alt="Description of Image" class="footer-image position-absolute">
        <div class="content-container">
            <div class="row">
                <h2 data-et="Kontakt" data-ru="Контакт"><%= translations.footer.contactTitle %></h2>
                <p><i class="fas fa-envelope"></i> <span data-et="Email" data-ru="Эл. почта"><%= translations.footer.emailLabel %></span> <a href="mailto:yagutkin@gmail.com"><%= translations.footer.email %></a></p>
                <p><i class="fas fa-phone"></i> <span data-et="Telefon" data-ru="Телефон"><%= translations.footer.phoneLabel %></span> <a href="tel:+37255987472"><%= translations.footer.phone %></a></p>
            </div>
            <div class="row mb-4">
                <img class="footer-logo" src="img/logos/24-7-fitness.png" alt="logo">
            </div>
            <div class="row">
                <p><i class="fas fa-copyright"></i> <%= translations.footer.copyrightText %></p>
            </div>
        </div>
    </div>
</footer>
