<section id="services">
    <div class="container flex flex-column flex-center">
        <div class="row w-100">
            <h2 class="section-title">Teenused</h2>
        </div>
        <div class="row">
            <div class="row flex flex-center">
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            </div>
        </div>
        <div class="row">
            <div class="row flex flex-center">
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            </div>
        </div>
    </div>
</section>