<section id="services">
    <div class="services-header">
        <h2>Teenused ja Hinnakiri</h2>
        <div class="container-fluid services-content">
            <div class="row flex flex-center">
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            </div>
            <div class="row flex flex-center">
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
                <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            </div>
        </div>
    </div>
</section>