<section id="services" class="clip-left flex flex-center">
    <div class="container">
        <div class="row pt-5 pb-5">
            <h2 class="section-title"><%= translations.services.title %></h2>
        </div>
        <div class="row flex flex-center">
            <%- include('../partials/service', {
            title: translations.services.personalTraining.title,
            text: translations.services.personalTraining.text,
            price: translations.services.personalTraining.price,
            type: translations.services.personalTraining.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.monthlyPackage12.title,
            text: translations.services.monthlyPackage12.text,
            price: translations.services.monthlyPackage12.price,
            type: translations.services.monthlyPackage12.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.monthlyPackage8.title,
            text: translations.services.monthlyPackage8.text,
            price: translations.services.monthlyPackage8.price,
            type: translations.services.monthlyPackage8.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.partnerTraining.title,
            text: translations.services.partnerTraining.text,
            price: translations.services.partnerTraining.price,
            type: translations.services.partnerTraining.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.groupTraining.title,
            text: translations.services.groupTraining.text,
            price: translations.services.groupTraining.price,
            type: translations.services.groupTraining.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.consultation.title,
            text: translations.services.consultation.text,
            price: translations.services.consultation.price,
            type: translations.services.consultation.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.onlinetraining.title,
            text: translations.services.onlinetraining.text,
            price: translations.services.onlinetraining.price,
            type: translations.services.onlinetraining.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.locationtraining.title,
            text: translations.services.locationtraining.text,
            price: translations.services.locationtraining.price,
            type: translations.services.locationtraining.type
            }) %>

            <%- include('../partials/service', {
            title: translations.services.personalonlinecontrol.title,
            text: translations.services.personalonlinecontrol.text,
            price: translations.services.personalonlinecontrol.price,
            type: translations.services.personalonlinecontrol.type
            }) %>
        </div>
    </div>
</section>
