<section id="services" class="left-to-right-clip">
    <div class="container">
        <div class="row pt-5 pb-5">
            <h2 class="section-title">Teenused</h2>
        </div>
        <div class="row flex flex-center gap-5">
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
        </div>
        <div class="row flex flex-center gap-5">
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
            <%- include('../partials/service', { title: 'Trennid omas saalis', text: 'Eksklusiivsed treeningud, mis toimuvad teie valitud asukohas või kodus.', price: '60€ / tund' }) %>
        </div>
    </div>
</section>