<div class="header-div">
    <header class="text-center py-3 flex flex-row flex-center gap-3">
        <div>
            <img src="img/logos/arm.png" alt="Logo" width="160" height="75" class="d-inline-block align-top">
        </div>
        <h3 class="font-oswald large-text"><%= translations.navbar.title %></h3>
    </header>

    <nav class="navbar navbar-expand-lg text-bold text-white">
        <div class="container-fluid">
            <span class="navbar-brand"></span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#header-slider"><%= translations.navbar.home %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about"><%= translations.navbar.about %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tracker"><%= translations.navbar.tracker %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services"><%= translations.navbar.services %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#before-after"><%= translations.navbar.beforeAfter %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#faq"><%= translations.navbar.faq %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#personal-training"><%= translations.navbar.comeToTraining %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#footer"><%= translations.navbar.contact %></a>
                    </li>
                    <div class="navbar-icons d-flex flex-row">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.instagram.com/yagutkin.fit" target="_blank">
                                <span class="custom-icon custom-icon-instagram"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.facebook.com/stanislav.jagutkin" target="_blank">
                                <span class="custom-icon custom-icon-facebook"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <img class='custom-icon' id="et-language" src="img/icons/et.svg" alt="et">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <img class='custom-icon' id="ru-language" src="img/icons/ru.svg" alt="ru">
                            </a>
                        </li>
                    </div>
                </ul>
            </div>
            <div class="fixed-top-content" style="display: none;">
                <img src="img/logos/arm.png" alt="Logo" class="navbar-logo">
            </div>
        </div>
    </nav>
</div>
