<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaalne Treener</title>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--FlatPickr styles-->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!--AirDatePicker styles-->
    <link href="css/air-datepicker.css" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/book-form.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('landing-sections/header-slider') %>
    <%- include('partials/navbar')%>

    <!-- About Section -->
    <%- include('landing-sections/about')%>

    <!-- Training Section -->
    <%- include('landing-sections/book-form')%>

    <!-- Before-after Section -->
    <%- include('landing-sections/before-after')%>

    <!-- Services and Pricing Section -->
    <%- include('landing-sections/services')%>

    <!-- Shop Section -->
    <%- include('landing-sections/shop')%>

    <!-- Video Training Section -->
    <%- include('landing-sections/video-training')%>

    <!-- Contact Section -->
    <%- include('landing-sections/contact')%>

    <!-- Scroll to Top Button -->
    <button id="scrollTopBtn">
        <img src="img/FontButton/icon-arrow-up.png" alt="Scroll to Top">
    </button>

    <!-- Footer -->
    <%- include('partials/footer')%>

    <!--Scripts by order-->
    <script>
        function loadScriptsSequentially(scripts, callback) {
            let index = 0;

            function loadNextScript() {
                if (index < scripts.length) {
                    let script = document.createElement('script');
                    script.src = scripts[index];
                    script.onload = function() {
                        index++;
                        loadNextScript();
                    };
                    script.onerror = function() {
                        console.error(`Failed to load script: ${scripts[index]}`);
                    };
                    document.head.appendChild(script);
                } else {
                    callback();
                }
            }

            loadNextScript();
        }

        loadScriptsSequentially([
            'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js',
            'https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426',
            'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js',
            'js/bootstrap.min.js', //Bootstrap JS
            'https://cdn.jsdelivr.net/npm/flatpickr', //Flatpickr js
            'https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js', //Particles
            'js/air-datepicker.js', //AirDatePicker
            'https://accounts.google.com/gsi/client',
            'https://apis.google.com/js/api.js',
            '/js/script.js',
            '/js/datePicker.js',
            '/js/particles.js'
        ], function() {
            if (typeof gapiLoaded === 'function') {
                gapiLoaded();
            } else {
                console.error('gapiLoaded function is not defined');
            }
        });
    </script>

</body>
</html>