<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personaalne Treener</title>
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!--Bootstrap Styles-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--FontAwesome Styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--FlatPickr styles-->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
    <!--AirDatePicker styles-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/css/datepicker.min.css" rel="stylesheet">

    <!--Custom Styles-->
    <link rel="stylesheet" href="css/general.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/book-form.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('landing-sections/header-slider') %>
    <%- include('partials/navbar')%>

    <!-- About Section -->
    <%- include('landing-sections/about')%>

    <!-- Training Section -->
    <%- include('landing-sections/book-form')%>

    <!-- Before-after Section -->
    <%- include('landing-sections/before-after')%>

    <!-- Services and Pricing Section -->
    <%- include('landing-sections/services')%>

    <!-- Shop Section -->
    <%- include('landing-sections/shop')%>

    <!-- Video Training Section -->
    <%- include('landing-sections/video-training')%>

    <!-- Contact Section -->
    <%- include('landing-sections/contact')%>

    <!-- Scroll to Top Button -->
    <button id="scrollTopBtn">
        <img src="img/FontButton/icon-arrow-up.png" alt="Scroll to Top">
    </button>

    <!-- Footer -->
    <%- include('partials/footer')%>

    <!--AirDatePickerCdn-->
    <script src="https://cdn.jsdelivr.net/npm/air-datepicker@3.5.3/air-datepicker.min.js"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/air-datepicker/2.2.3/js/i18n/datepicker.en.js"></script>-->

<!--&lt;!&ndash;    AirDatePicker&ndash;&gt;-->
<!--    <script src="js/datepicker.min.js"></script>-->

    <!--???-->
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js?r=5426"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Include flatpickr JS -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!--Particles-->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

    <!-- Google API -->
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
    <script src="/js/datePicker.js"></script>
    <script src="/js/particles.js"></script>

</body>
</html>