<div class="container flex flex-column flex-center w-100 h-100">
    <div class="row">
        <h1><%= translations.tracker.welcomeMessage %></h1>
    </div>
    <div class="row">
        <div class="col-12">
            <ol>
                <li><%= translations.tracker.features.trackCalories %></li>
                <li><%= translations.tracker.features.createWorkoutPlan %></li>
                <li><%= translations.tracker.features.trackMeasurements %></li>
                <li><%= translations.tracker.features.enjoyAchievements %></li>
            </ol>
        </div>
    </div>
</div>