<h2 class="text-yellow">Weekly body measurments</h2>
<form class="mb-3 weekly-strength-form">
    <div class="container">
        <h3 class="text-center">Weekly Strength Measurements</h3>
        <div class="row">
            <% const strengthExercises = [
                { id: 'bench_press_wide', label: 'Bench Press Wide (kg)', placeholder: 'Enter your bench press wide weight...' },
                { id: 'bench_press_narrow', label: 'Bench Press Narrow (kg)', placeholder: 'Enter your bench press narrow weight...' },
                { id: 'deadlift', label: 'Deadlift (kg)', placeholder: 'Enter your deadlift weight...' },
                { id: 'squats', label: 'Squats (kg)', placeholder: 'Enter your squat weight...' },
                { id: 'bicep_curl', label: 'Bicep Curl (kg)', placeholder: 'Enter your bicep curl weight...' },
                { id: 'bent_over_one_arm_row', label: 'Bent Over One Arm Row (kg)', placeholder: 'Enter your row weight...' }
            ]; %>

            <% strengthExercises.forEach((exercise) => { %>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="<%= exercise.id %>" class="form-label"><%= exercise.label %></label>
                        <input
                                name="<%= exercise.id %>"
                                type="number"
                                class="form-control"
                                id="<%= exercise.id %>"
                                placeholder="<%= exercise.placeholder %>"
                        >
                    </div>
                </div>
            <% }) %>
        </div>

        <div class="flex flex-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>
</form>

<script>
    function addFormSubmitListener(formSelector, url) {
        document.querySelector(formSelector).addEventListener('submit', async (e) => {
            e.preventDefault();

            const modal = createModal();

            document.body.appendChild(modal);

            const bsModal = new bootstrap.Modal(modal);

            const infoText = modal.querySelector('.modal-body');

            try {
                infoText.innerHTML = 'Sending...';
                const formData = new FormData(e.target);
                const data = {
                    email: localStorage.getItem('email')
                };

                formData.forEach((value, key) => {
                    data[key] = +value;
                });

                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                if (response.ok) {
                    infoText.innerHTML = 'Data was sent successfully';
                } else {
                    infoText.innerHTML = 'Sorry. Error occurred, try again later';
                }

                bsModal.show();

                modal.addEventListener('hidden.bs.modal', () => {
                    modal.remove();
                });

            } catch (error) {
                console.error(error);
                infoText.innerHTML = 'An unexpected error occurred';
                bsModal.show();

                modal.addEventListener('hidden.bs.modal', () => {
                    modal.remove();
                });
            }
        });
    }

    function createModal() {
        const modal = document.createElement('div');
        modal.classList.add('modal', 'fade');
        modal.id = 'dynamicModal';
        modal.setAttribute('tabindex', '-1');
        modal.setAttribute('aria-labelledby', 'dynamicModalLabel');
        modal.setAttribute('aria-hidden', 'true');

        modal.innerHTML = `
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="dynamicModalLabel">Submission Status</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-black">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    `;

        return modal;
    }

    addFormSubmitListener('.weekly-strength-form','http://localhost:3002/fitness-tracker/submit-strength-data');
</script>
