<h2 class="text-yellow">Weekly Body Measurements</h2>
<form class="mb-3 weekly-body-form">
    <div class="container">
        <h3 class="text-center">Weekly Body Measurements</h3>
        <div class="row">
            <% const bodyMeasurements = [
                { id: 'height', label: 'Height (cm)', placeholder: 'Enter your height...' },
                { id: 'weight', label: 'Weight (kg)', placeholder: 'Enter your weight...' },
                { id: 'chest', label: 'Chest (cm)', placeholder: 'Enter chest size...' },
                { id: 'shoulders', label: 'Shoulders (cm)', placeholder: 'Enter shoulders size...' },
                { id: 'neck', label: 'Neck (cm)', placeholder: 'Enter neck size...' },
                { id: 'bicep', label: 'Bicep (cm)', placeholder: 'Enter bicep size...' },
                { id: 'waist', label: 'Waist (cm)', placeholder: 'Enter waist size...' },
                { id: 'thigh', label: 'Thigh (cm)', placeholder: 'Enter thigh size...' },
                { id: 'forearm', label: 'Forearm (cm)', placeholder: 'Enter forearm size...' },
                { id: 'hips', label: 'Hips (cm)', placeholder: 'Enter hips size...' },
                { id: 'calves', label: 'Calves (cm)', placeholder: 'Enter calves size...' }
            ]; %>

            <% bodyMeasurements.forEach((measurement) => { %>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="<%= measurement.id %>" class="form-label"><%= measurement.label %></label>
                        <input
                                name="<%= measurement.id %>"
                                type="number"
                                class="form-control"
                                id="<%= measurement.id %>"
                                placeholder="<%= measurement.placeholder %>"
                        >
                    </div>
                </div>
            <% }) %>
        </div>

        <div class="flex flex-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </div>
</form>


